body {
    background-color: #F5F5F5;
  }
  
  header {
    width: 100vw;
    height: 70px;
    background-color: #1668B2;
    margin-bottom: 1.8vh;
  }
  

  .container {
    width: auto;
  }
  
  .nav {
    margin-left: 8vw;
    padding-top: 3vh;
  }
  
  .nav-link {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  footer {
    width: 100vw;
    height: 50px;
    background-color: #1668B2;
  }
  
  .theme-color {
    background-color: #1668B2;
    color: white;
  }
 
  .embed-container {
    position: relative;
    padding-bottom: 80%;
    height: 0;
    max-width: 100%;
    margin-bottom: 61%;
}