body{
    /* background-color: #f5f5f5; */
    background-image: url('../imagens/fundo.jpg');
    color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100vw;
    height: 70px;
    background-color: #1668B2;
    margin-bottom: 1.8vh;
    text-align: center;
}
h1{
   padding-top: 3%;
   color: white;
}

.container{
    height: 508px;
}

.botoes{
    padding-top: 10%;
    margin-top: 25%;
    border-radius: 10%;
}

button.btn.btn-success{
    width: 40%;
    margin-left: 30%;
}

button.btn.btn-primary{
    width: 40%;
}

button.btn.btn-primary {
    margin-left: 19%;
}


.page-footer {
    position:absolute;
    bottom:0;
    width:100%;
}


.container.d-flex.justify-content-center {
    margin-top: 2%;
}

div#emailHelp {
    margin-top: 10%;
}

ul.nav.justify-content-center {
    margin-top: 10%;
}

#botaoRegistrar {
    width: 40%;
    margin-left: 30%;
}
footer {
    width: 100vw;
    height: 50px;
    background-color: #1668B2;
    
}

.invisible {
    display: none;
}