.wrapper {
    width: 100%;
    position: absolute;
    text-align: center;
}

h1 {
    padding-top: 0px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw;
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
}

h2 {
    padding-top: 2vw !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
}

.img {
    margin-top: 5%;
    margin-bottom: 2%;
}

a {
    padding-top: 10vw !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    color: #ffffff;
    margin-left: 5vw;
    margin-right: 5vw;
}
