body {
    font-family: code-saver, sans-serif !important;
    margin: auto;
}

.card {
    margin-top: 5vh;
    /* width: 100%; */
    /* position: relative; */
    background-color: rgb(138, 43, 226, 0.3);
}

.card-text {
    font-size: 18px;
}

.criminalIntent {
    color: red;
    font-weight: bold;
}

.update {
    /* position: absolute; */
    margin-top: 5%;
    /* margin-left: 27%; */
}

.verify {
    /* padding: 12px 20px; */
    font-size: 20px;
    width: auto;
    background-color: rgb(138, 43, 226, 0.3);
    border: 1px solid #2a0e45;
    color: white;
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
}

.container {
    margin: auto;
}