.card {
  margin-top: 16vh;
  width: 100%;
  position: absolute;
  background-color: rgb(138, 43, 226, 0.3);
}

.card-text {
  font-size: 18px;
}

.criminalIntent {
  color: red;
  font-weight: bold;
}

.registry {
  position: absolute;
  margin-top: 80vh;
  margin-left: 27%;
}

.verify {
  padding: 12px 20px;
  font-size: 16px;
  width: 100%;
  background-color: rgb(138, 43, 226, 0.3);
  border: 1px solid blueviolet;
  color: white;
  font-weight: bold;
}